%p= "Name: #{@project.name}"
%p= "Created on: #{@project.created_on.strftime('%b %d %Y')}"
%p= "Description: #{@project.description}"
%p= "Stories completed: #{@project.throughput}"
%p= "Velocity: #{@velocity} point(s)"
%p= "1 point: #{@point_duration.round(2) rescue 0} day(s)"
