%tr{:style => "text-align:right"}
  %td{:style => "text-align:left"}= month.date.strftime("%b '%y")
  %td= month.stories
  %td= month.velocity
  %td= month.point_duration
  %td= month.efficiency.round
