%tr.right
  %td= link_to_story(story)
  %td.story= story_text(story.text)
  %td= story.size
  %td= story.started_on.strftime('%b %d')
  %td= story.finished_on.strftime('%b %d')
  %td= story.point_duration.to_f.round(2)
  %td= story.duration.inspect
  %td= story.blocked_time.round(2)
  %td= story.waiting_time.round(2)
  %td= story.work_time.round(2)
  %td= story.efficiency.round