%h1 Project details
%p= "Name: #{@project.name}"
%p= "Created on: #{@project.created_on}"
%p= "Description: #{@project.description}"
%p= "Stories complete: #{@project.throughput}"
%p= "Velocity: #{@velocity} point(s)"
%p= "1 point: #{@point_duration.round(2)} day(s)"

%h2 Velocity by month
%table{:border => "2"}
  %tr
    %td{:width => "80px"} Month
    %td{:width => "80px"} Stories
    %td{:width => "80px"} Velocity
    %td{:width => "120px"} 1 Point = X days
  - @months.each do |month|
    %tr{:style => "text-align:right"}
      %td{:style => "text-align:left"}= month.name
      %td= month.stories
      %td= month.velocity
      %td= month.point_duration.round(2)

%h2 Stories in Archive
%table{:border => "2"}
  %tr
    %td{:style => "width:30px"} Id
    %td Text
    %td{:style => "width:50px"} Size
    %td{:style => "width:100px"} Started
    %td{:style => "width:100px"} Finished
    %td{:style => "width:100px"} Duration (days)
    %td{:style => "width:50px"} 1 Point
  - @project.archived.sort_by { |s| s.finished_on }.reverse.each do |story|
    %tr{:style => "text-align:right"}
      %td= story.id
      %td{:style => "text-align:left"}= story.text
      %td= story.size
      %td= story.started_on.strftime('%b %d %Y')
      %td= story.finished_on.strftime('%b %d %Y')
      %td= story.duration.round(2)
      %td= story.point_duration.round(2) rescue "(na)"
