%h1 Project details
%p= "Name: #{@project.name}"
%p= "Created on: #{@project.created_on}"
%p= "Description: #{@project.description}"
%p= "Stories complete: #{@project.throughput}"
%p= "Velocity: #{@velocity} point(s)"
%p= "1 point: #{@point_duration.round(2)} day(s)"

%h2 Velocity by month
%table{:border => "2"}
  %tr
    %td{:width => "50px"} Year
    %td{:width => "50px"} Month
    %td{:width => "50px"} Stories
    %td{:width => "50px"} Velocity
    %td{:width => "120px"} 1 Point = X days
    %td Efficiency %
  - @months.each do |month|
    %tr{:style => "text-align:right"}
      %td= month.year
      %td{:style => "text-align:left"}= month.name
      %td= month.stories
      %td= month.velocity
      %td= month.point_duration.round(2)
      %td= month.efficiency.round

%h2 Stories in Archive
- @byweek.each_pair do |week, stories|
  %p Week from #{week.start.strftime('%b %d')} to #{week.finish.strftime('%b %d')}
  %table{:border => "2"}
    %tr
      %td{:style => "width:30px"} Id
      %td Text
      %td{:style => "width:50px"} Size
      %td{:style => "width:80px"} Started
      %td{:style => "width:80px"} Finished
      %td{:style => "width:50px"} 1 Point
      %td Duration
      %td Blocked
      %td Waiting
      %td{:style => "width:100px"}  Actual Work
      %td{:style => "width:100px"} Efficiency %
    - stories.each do |story|
      %tr{:style => "text-align:right"}
        %td= story.id
        %td{:style => "text-align:left"}= story.text
        %td= story.size
        %td= story.started_on.strftime('%b %d')
        %td= story.finished_on.strftime('%b %d')
        %td= story.point_duration.round(2) rescue "(na)"
        %td= story.duration.round(2)
        %td= story.blocked_time.round(2)
        %td= story.waiting_time.round(2)
        %td= story.work_time.round(2)
        %td= story.efficiency.round
