- title "Stories in #{@project.name} with tag #{@tag.name}"

%h3
  #c1= link_to "Back to details", project_path(@project, :api_key => @api_key)
  
  #c2  #{label_tag('Change Tag')}: #{change_tag_selection(@project, @tag, @api_key)}

  #sep
  
#details
  #c1
    %p #{label_tag('Total')}: #{stories(@not_completed + @completed)}
    %p #{label_tag('Velocity')} (avg.): #{velocity(@monthly_summary)} 
    
  #c2
    %p #{label_tag('Completed')}: #{stories(@completed)} (#{points(@completed)}) 
    %p #{label_tag('Left to do')}: #{stories(@not_completed)} (#{points(@not_completed)}) 

  #c3
    %p #{label_tag('Eff.')} (avg.): #{efficiency(@monthly_summary)}
    %p #{label_tag('1 point')} (avg.): #{point_duration(@project)} 
  
  #c4
    %p #{label_tag('Time to finish')}: ~#{time_left(@not_completed, @project)} 
    %p #{label_tag('Expected Date')}: ~#{finish_date(@not_completed, @project)} 

  #sep

#velocity
  %img#c1{:src => phases_graph(@stories)}

  %img#c2{:src => burn_down_graph(@completed + @not_completed)}

  #sep

#details_stories
  #stories
    - @stories.each_pair do |phase, tagged|
      #title #{phase} (#{tagged.count}) #{link_to_function("(+/-)", "Element.toggle('div#{phase}')")}
      %table{:id => "div#{phase}"}
        %thead
          %tr
            %th Id
            %th Text
            %th Size
            %th Start
            %th Fin.
            %th 1 Pt
            %th Dur.
            %th Block.
            %th Wait
            %th AWork
            %th Eff. %
        %tbody
          = render(:partial => "projects/story", :collection => tagged )

