- title "#{@project.name} - tag #{@tag.name} " + (@not_completed.empty? ? "(complete)" : "(in progress)")

%h3
  = tag_header(@project, @tag)
  #sep
  
#details
  = tag_metrics(@completed, @not_completed, @project)
  #sep

#velocity
  = tag_charts(@completed, @not_completed)
  #sep

#details_stories
  #stories
    = stories_by_phase(@completed + @not_completed)

