- title "Stories in #{@project.name} with tag #{@tag.name}"

%h3
  #c1= link_to "Back to details", project_path(@project)
  
  #c2= tag_selection(@project, @tag)

  #sep
  
#details
  = tag_metrics(@completed, @not_completed, @project)
  #sep

#velocity
  = tag_charts(@completed, @not_completed)
  #sep

#details_stories
  #stories
    = story_tables_by_phase(@completed, @not_completed)

